.sidebar-lead {
  cursor: pointer;
  transition: padding 0.3s ease;
}

.sidebar-lead:hover {
  background-color: #ffffff;
}

.position-sidebar {
  position: static;
}

@media (max-width: 768px) {
  .position-sidebar {
    position: absolute;
    top: 0;
    right: 0;
  }
}